body {
    margin: 0%;     
    background-color: gray;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    max-width: 100%;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(26, 26, 26);
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
background-color: rgb(255, 0, 0);
}

.activeFiles {
    font-size: 0.7vw;
    color: gray;
}

.activeFiles li{
    border-right: 0.1vw solid black;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .scroll-container {
    scroll-padding: 50px 0 0 50px;
  }

  #expHead {
    text-align: left;
    margin-left: 0.5%;
    padding-top: 0%;
}

#tree {
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0%;
    padding-top: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    height: 100%;
    background-color: #303030; 
    width: 20%;
    display: none;
}

.lineNumber {
    background-color: blueviolet;
    width: 3%;
    padding-right: 1%;
    margin: 0%;
    border-radius: 0%;
    border-left: 2px solid black; 
    border-right: 2px solid black; 
    text-align: right;
    padding-top: 0%;
    margin-top: 0%;
    width: 4%;
}

.editor {
    background-color: red;
    border-radius: 0%;
    margin: 0%;
    width: 74%; 
    top: 0%;
    padding-top: 0%;
    margin-top: 0%;
}

.main {
 display: flex;
 height: 100vh;
 font-family: 'Courier New', Courier, monospace;
 color: white;
 line-height: 40%;
 font-size: 100%;
 overflow-y: scroll;
}